
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng ký tài khoản</title>
<!-- Latest compiled and minified CSS -->
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

<style type="text/css">
.gradient-custom-2 {
	/* fallback for old browsers */
	background: #fccb90;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media ( min-width : 768px) {
	.gradient-form {
		height: 100vh !important;
	}
}

@media ( min-width : 769px) {
	.gradient-custom-2 {
		border-top-right-radius: .3rem;
		border-bottom-right-radius: .3rem;
	}
}
</style>

</head>

<body>
	<section class="h-100 gradient-form" style="background-color: #eee;font-family: monospace;">
		<div class="container py-5 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-6">
								<div class="card-body p-md-5 mx-md-4">

									<div class="text-center">
										<i class="fas fa-grin-wink">
											<h2>
												Cosmetics <sup>Shop</sup>
											</h2>
										</i>
									</div>

									<form th:action="@{/register/save}" th:object="${accounts}" method="POST"
										>
										<div class="form-outline mb-4">
											<input type="email" class="form-control" th:field="*{email}"
												name="email" placeholder="Email address" /> <label
												class="form-label" for="form2Example11">Email</label>
										</div>

										<div class="form-outline mb-4">
											<input type="password" name="password" th:field="*{password}"
												class="form-control" placeholder="Mật khẩu" /> <label class="form-label"
												for="form2Example22">Mật khẩu</label>
										</div>
										<div class="form-outline mb-4">
											<input type="text" name="fullname" th:field="*{fullname}"
												class="form-control"
													placeholder="Họ tên"
												 /> <label class="form-label"
												for="form2Example22">Họ tên </label>
										</div>
										<div class="form-outline mb-4">
											<input type="text" name="phone" th:field="*{phone}"
												class="form-control"
													placeholder="Số điện thoại"
												 /> <label class="form-label"
												for="form2Example22">Số điện thoại</label>
										</div>
										<div class="form-outline mb-4">
											<input type="text" name="address" th:field="*{address}"
												class="form-control"
												placeholder="Địa chỉ"
												 /> <label class="form-label"
												for="form2Example22">Địa chỉ</label>
										</div>
										
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="CUS"
												th:field="*{role.id}"
												id="flexCheckDefault"> <label
												class="form-check-label" for="flexCheckDefault">
												Chấp thuận mọi điều khoản của chúng tôi</label>
										</div>
										<span class="text-danger">[[${message}]]</span>
										<div class="text-center pt-1 mb-5 pb-1">
											<button name="remember-me" type="submit"
												class="btn btn-primary btn-block  gradient-custom-2 mb-3">Đăng
												ký</button>

										</div>


									</form>
									<a class="text-muted" href="#!">Forgot password?</a>
									<div
										class="d-flex align-items-center justify-content-center pb-4">
										<p class="mb-0 me-2">Don't have an account?</p>
										<a type="button" class="btn btn-outline-danger" th:href="@{/security/login/form}">Đăng nhập</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<div class="text-white px-3 py-4 p-md-5 mx-md-4">
									<h4 class="mb-4">Ở đây chúng tôi có thứ mà bạn cần !</h4>
									<p class="small mb-0">Shop mỹ phẩm Comestic cũng cấp các sản phẩm 
										như sữa rửa mặt , nước tẩy trang, nước hoa , son môi , kem dưỡng ẩm , 
										nhằm cải thiện cho sắc đẹp người dùng , không tổn hại tới làn da ,
										cam kết 100 % làm từ thiên nhiên
									 </p>
									 <p class="small mt-2">
									 	CÔNG TY TNHH
										Cosmetic – GPDKKD: 0316485294 do sở KH & ĐT TP.HCM cấp lần đầu
										ngày 15/09/2020 cấp lần 2 ngày 14/12/2021. Địa chỉ: Ngõ 28
										Đại linh -Trung Văn -Nam Từ Niêm -HN. Copyright © by Cosmetic – Sức
										Khoẻ Sắc Đẹp
									 </p>
									 
									 <a class="btn btn-outline-primary mt-3" th:href="@{/}">Tiếp tục mua sắm</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script>
		var date = new Date();

		var day = date.getDate();
		var month = date.getMonth() + 1;
		var year = date.getFullYear();

		if (month < 10)
			month = "0" + month;
		if (day < 10)
			day = "0" + day;

		var today = year + "-" + month + "-" + day;
		document.getElementById("theDate").value = today;
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
		integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
		crossorigin="anonymous"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="/assets/js/shopping-cart-app.js"></script>
</body>



</html>