
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="row" style="height: 100px">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<a class="btn btn-primary" th:href="@{/admin/news/create}">Tạo tin tức</a>
					</div>
					<div class="card-body">
						<div class="col-md-12"
					style="background-color: #EEECEC; font-family: monospace;">



					<table class="table">
						<thead>
							<tr class="text-center">
								<th>Mã tin tức</th>
								<th>Tiêu đề</th>
								<th>Hình ảnh</th>
								<th>Nội dung</th>
								<th>Ngày tạo</th>
								<th>Tác giả</th>
								<th colspan="2"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="items,state:${list}">
								<td>[[${items.id}]]</td>
								<td>[[${items.title}]]</td>
								<td> <img alt="" th:src="@{|/images/${items.sumary}|}" width="80px" height="90px"> </td>
								<td>[[${items.content}]]</td>
								<td>[[${items.createDate}]]</td>
								<td>[[${items.author}]]</td>
								<td> <a class="btn btn-secondary" th:href="@{|/admin/news/edit/${items.id}|}">Cập nhật</a> </td>
								<td><a class="btn btn-danger" data-bs-toggle="modal"
									th:attr="data-bs-target='#delete'+${items.id}"
								 >Xóa</a> 
									<div class="modal fade" th:attr="id='delete'+${items.id}" tabindex="-1"
												aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog ">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="modal-title" id="exampleModalLabel"
																style="font-family: monospace;">Xác nhận</h4>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<h5 style="font-family: monospace;">
																Bạn có muốn xóa <br> tin tức <strong>[[${items.id}]]</strong> này
																không ?
															</h5>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Không</button>
															<a th:href="@{|/admin/news/delete/${items.id}|}" type="button"
																class="btn btn-primary">Có</a>
														</div>
													</div>
												</div>
											</div>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>