<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/customer/layout/index :: dynamic(~{::main})}">
<style>
#header {
	background:
		url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)
		center center/cover no-repeat;
}
</style>
<body>
	<main class="row">
		<section id="gallery">
			<div class="container-fluid">
				<div class="row pt-5">
					<div class="card col-md-3 p-2 border border-0"
						th:each="items: ${listProduct.content}">
						<div class="container">
							<div class="card-header">
								<a class="text" th:href="@{|/product/detail/${items.id}|}">
									<img th:src="@{|/images/${items.picture1}}|" alt="Avatar"
									class="image" style="width: 100%">
									<div class="middle"></div>
								</a>
							</div>


							<div class="card-body">
								<div class="row">
									<div class="col-md-12 fw-bold"
										style="color: gray; height: 70px">[[${items.name}]]</div>
								</div>
								<div class="row">
									<th:block th:unless="${items.discount.id == 8}">
										<div class="col-md-6">
										<strong style="text-decoration: line-through;">[[${items.price+items.price*items.discount.moneyLimit/100}]]
											VND</strong>
									</div>
									</th:block>
									<div class="col-md-6">
										<strong class="text-danger">[[${items.price}]] VND</strong>
									</div>
								</div>

							</div>
						</div>
						<div class="card-footer">
							<a th:href="@{|/product/detail/${items.id}|}"
								class="btn btn-outline-success btn-sm">Chi tiết</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 offset-5">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"><a class="page-link" th:href="@{/product/list?p=0}">First</a></li>
								<li class="page-item"><a class="page-link"  th:href="@{|/product/list?p=${listProduct.number-1}|}">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">[[${listProduct.number}]]</a></li>
								<li class="page-item"><a class="page-link" th:href="@{|/product/list?p=${listProduct.number+1}|}">Next Page</a></li>
								<li class="page-item"><a class="page-link" th:href="@{|/product/list?p=${listProduct.totalPages -1}|}">Last Page</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>